

# VITE_SOLANA_NETWORK: Solana network identifier (mainnet or devnet)
VITE_SOLANA_NETWORK=devnet

# MONGODB_URI: MongoDB connection string (e.g. mongodb://localhost:27017/solana-p2e)
MONGODB_URI="mongodb://localhost:27017/solana-p2e"
